body {
    box-sizing : border-box;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
    padding: 1em;
}

.blog-container {
    max-width: clamp(20em , 50vw , 25em);
    height: 50vh;

    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0.5em;
    border-radius: 4px;
    background-color: #ccc1;
    box-shadow: 4px 4px 10px -4px #aaa, 4px 4px 5px -6px inset #80808033;
}

.blog-title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color : #000a;

    border-bottom : 2px solid #8881;
}

.blog-metadata-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0007;
    font-weight: bold;
}

.blog-timestamp {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 0.5em;
}

.blog-author {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 0.6em;
}

.blog-content {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #000a;
    font-size: 12px;
}

.blog-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}