{% extends 'blog_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'blog_app/css/blog.css' %}" />
{% endblock head %}

{% block body %}

<div class="blog-wrapper">
    {% for blog in blogs %}
    <div class="blog-container">
        <span class="blog-title">{{ blog.title }}</span>
        <div class="blog-metadata-wrapper">
            <span class="blog-author">{{ blog.author }}</span>
            <span class="blog-timestamp">{{ blog.timestamp }}</span>
        </div>
        <p class="blog-content"> {{ blog.content }} </p>
    </div>
    {% endfor %}
</div>

{% endblock body %}

{% block blogactive %}
active
{% endblock blogactive %}