{% extends 'blog_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'blog_app/css/blog.css' %}" />
{% endblock head %}

{% block body %}

<div class="blog-wrapper">
    {% for blog in page_obj %}
    <div class="blog-container">
        <span class="blog-title">{{ blog.title }}</span>
        <div class="blog-metadata-wrapper">
            <span class="blog-author">{{ blog.author.first_name }}</span>
            <span class="blog-timestamp">{{ blog.timestamp }}</span>
        </div>          
        <div class="blog-img-wrapper">
            <img class="blog-img" src="{% get_media_prefix %}{{ blog.image }}" />
        </div>
        <p class="blog-content"> {{ blog.content|safe|truncatechars_html:300}} </p>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    
    {% else %}
    <li class="page-item"><a class="page-link disabled" href="#">First</a></li>
    <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
    {% if page_number <= page_obj.number|add:"2" and page_number >= page_obj.number|add:"-2"%}

    <li class="page-item"><a class="page-link {% if page_number == page_obj.number %}active{% endif %}" href="?page={{ page_number }}">{{ page_number }} </a></li>

    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ total_pages }}">Last</a></li>
    
    {% else %}
    <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
    <li class="page-item"><a class="page-link disabled" href="#">Last</a></li>
    
    {% endif %}
    </ul>
</nav>

<p> Total Pages : {{ total_pages }} </p>

{% endblock body %}

{% block blogactive %}
active
{% endblock blogactive %}